[submodule "vim/drew-vimrc"]
	path = vim/drew-vimrc
	url = git@github.com:dag10/drew-vimrc.git
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/supermarin/powerline-fonts
[submodule "fish/oh-my-fish"]
	path = fish/oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish
[submodule "tmux/tmux-sensible"]
	path = tmux/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
